// Variables
$main-dark-color: #0b0c10;
$secondary-dark-color: #1f2833;
$alternative-color: #fff; 
$main-light-color: #66fcf1;
$secondary-light-color: #45a29e;

$site-width: 1280px;
$large-heading-font-size: 3rem;
$medium-heading-font-size: 1.5rem;
$lead-font-size: 1.4rem ;
$section-title-font-size: 2rem;